from __future__ import    unicode_literals    #Ez    teszi    lehetové    az    ékezetes    ábrafeliratokat!!!

import numpy as np
import matplotlib.pyplot as plt

from IPython.html import widgets
from IPython.html.widgets import interact
from IPython.display import display


t_unit=0.1

m_out_sec=25000.0
m_out=m_out_sec*t_unit
v_out=4130.0
m_rocket=2000000.0
m_gas=250000.0
m_gas_current=m_gas

gamma=6.673e-11 
r_earth=6371000.0
m_earth=5.972e24


a_current=0.0
h_current=0.0
t=0.0
v_current=0.0

k_cone=0.5
reciprok=1.0
A=30.0
b=m_out/t_unit    #üzemanyag    bekérés    segéd



x=[]
y=[]
z=[]
p=[]
q=[]


    

def f(m_gas,m_rocket,m_out_sec,v_out,t_unit,A):

        m_out=m_out_sec*t_unit
        cosmic=0.0
        m_gas_current=m_gas
        a_current=0.0
        h_current=0.0
        t=0.0
        v_current=0.0
        x=[]
        y=[]
        z=[]
        p=[]
        q=[]
        while (h_current>=0) and (cosmic==0):
            t=t+t_unit
            # A légkör képzeletbeli határán túl nincs közegellenállás
            if (h_current<44000) and (h_current>=0):
                air_dens=((101325*((1-(0.0065*h_current)/(288.15))**(9.81*(0.02896)/(8.314*0.0065))*0.02896))/(8.314*288.15-0.0065*h_current))
            else:
                air_dens=0.0
            # Csak addig gyorsít a rakéta, amíg van hajtógáz    
            if (m_gas_current>0):                           
                    m_gas_current=m_gas_current-m_out
                    m_total=m_rocket+m_gas_current
                    v_change=(m_out*v_out)/(m_rocket+m_gas_current)
                    T=m_total*v_change/t_unit
            else: # Ez az ág azért kell, hogy ha m_gas nem osztható m_out-tal, akkor ne menjen mínuszba
               if (h_current > 44000) and (v_current >= sqrt(gamma*m_earth/r_earth)) and v_current <= (sqrt(2*gamma*m_earth/r_earth)):
                    print ("A rakéta körpályára lépett " +  str(h_current) + " magasságban")
                    cosmic=1
                
               elif (h_current > 44000) and (v_current >= sqrt(2*gamma*m_earth/r_earth)):
                    print ("A rakéta elérte a szökési sebességet és elhagyta a Földet")
                    cosmic=1
                                            
               else:
                    m_total = m_rocket
                    m_gas_current = 0.0
                    v_change = 0.0
                    T = 0.0
                
            G=gamma*m_total*m_earth/((h_current+r_earth)**2)
            if v_current>=0:
                K=0.5*k_cone*air_dens*A*v_current**2
            else:
                K=-0.5*k_cone*air_dens*A*v_current**2
            
            #elif    100<=v_current:
            #        K=0.5*k_cone*air_dens*A*v_current**3    
            # !!! EZT FORDÍTOTT SORRENDBEN JOBB MINDIG CSINÁLNI
            #a_current=(T-K-G)/(m_total)
            #v_current=v_current+a_current*t_unit    
            #h_current=h_current+v_current*t_unit+a_current/2*t_unit**2
            h_current=h_current+v_current*t_unit
            v_current=v_current+a_current*t_unit
            a_current=(T-K-G)/(m_total)
            y.append(h_current)
            x.append(t)
            z.append(v_current)
            p.append(a_current)

            
            
        figsize(24,16)
        fig=figure();                #mivel    most    két    ábránk    is    lesz    ezért    szükség    lesz    egy    mind    a    kettot    magában    foglaló    "figure"    objektumra,
                                            #amire    fig-ként    fogunk    hivatkozni.

                                            #    Az    elso    ábra    
                                            #    az    ax1    címkével    hivatkozunk    az    elso    ábrára
        ax1=fig.add_subplot(1,3,1);    #    az    alábra    helyének    létrehozása
                                    #    az    add_subplot(Ny,Nx,i)    parancs    jelentése:
                                    #    Hozz    létre    egy    Ny    sorból    és    Nx    oszlopból    álló    ábra    táblázatot    (ha    még    nem    tetted    meg...)
                                    #    és    abba    tedd    bele    az    alábbi    ábrát    az    i-edik    helyre!
                                    #    Mi    két    egymás    mellett    lévo    ábrát    szeretnénk    amelyikbol    most    jön    az    elso

        ax1.plot(x,y,'o-',label=""+'    $\mathrm{h}$')
        title('Magasság/ido    grafikon',fontsize=20);
        legend(loc='upper right',fontsize=20)        #    az    ábramagyarázat    pozicionálása
        xlabel('$\mathrm{t}$',fontsize=30);
        ylabel('$\mathrm{h}$',fontsize=30);
        grid(True);

        ax2=fig.add_subplot(1,3,2);        
        ax2.plot(x,z,'o-',label=""+'    $\mathrm{V}$')
        title('Sebesség/ido    grafikon',fontsize=20);
        legend(loc='upper right',fontsize=20)        #    az    ábramagyarázat    pozicionálása
        xlabel('$\mathrm{t}$',fontsize=30);
        ylabel('$\mathrm{V}$',fontsize=30);
        grid(True);        
        fig.tight_layout()

        ax3=fig.add_subplot(1,3,3);
        ax3.plot(x,p,'o',label=""+'    $\mathrm{a}$')
        title('Gyorsulás/ido    grafikon',fontsize=20);        
        legend(loc='upper right',fontsize=20)        #    az    ábramagyarázat    pozicionálása
        xlabel('$\mathrm{t}$',fontsize=30);
        ylabel('$\mathrm{a}$',fontsize=30);
        grid(True);
        fig.tight_layout()  
           


i = interact(f,
             m_gas= widgets.FloatTextWidget(value=m_gas,description="Az üzemanyag tömege (kg)"),
             m_rocket= widgets.FloatTextWidget(value=m_rocket,description="Az üres rakéta tömege (kg)"),
             m_out_sec= widgets.FloatTextWidget(value=m_out_sec,description="Egy másodperc alatt kiáramló üzemanyag tömege (kg)"),
             v_out= widgets.FloatTextWidget(value=v_out,description="Gáz kiáramló sebessége (m/s, ezt jobb nem változtatni)"),
             t_unit= widgets.FloatTextWidget(value=t_unit,description="Időegység (s)"),
             A= widgets.FloatTextWidget(value=A,description="Rakéta orrának felülete (m^2)")
             ) 
